__pycache__/
activate
.env/
test.py
test/
dataset/*.pickle
dataset/*.pickle.small
trained_model*/
gen_midi*/
.nfs*
test*.sh
pop909_test/
/log*
*.png
dataset/*.pickle.*
dataset/testing_data_origin*
experience
experiment_result/
test_song*
train*.sh
experience*
experiment*
demo_songs/
gen*
*64_bar*
collect.py
